<!DOCTYPE html>
<html>
  <head>
    <title>THE DEAD WRITER'S DELOREAN</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body>
    <div class="container">
      <header class="site_header">

        <div class="header_SiteNav">
          <img src="../images/site_logo.jpeg"/>
          <h5>A DEAD POETS SOCIETY BLOG</h5>
          <ul>
            <li>ABOUT</li>
            <li>SEARCH</li>
          </ul>
        </div>

        <div class="site_title">
          <h1><strong>THE DEAD WRITER'S DELOREAN</strong></h1>
          <p><small>An Ironyard Academy Project Est. Summer 2015</small></p>
        </div>

      </header>

      <article class="post">
        <section class="post_content">
          <header class="post_header">
            <h1><strong><%= title %></strong></h1>
            <div class="author_logo">
              <img src=<%=author_image%> />
              <footer><small><strong><%= author %></strong></small></footer>
            </div>
            <div><small>on <a href="/"><%= time %></a></small></div>
          </header>

          <p><%= body[:p1] %></p>
          <div class="blockquote"><strong><h2>GREAT SCOTT!!!</h2></strong></div>
          <p><%= body[:p2] %></p>
          <div class="blockquote"><strong><h2>ROADS? WHERE WE'RE GOING WE DON'T NEED ROADS.</h2></strong></div>
          <p><%= body[:p3] %></p>
          <%
            if request.path_info == "/template/1"
              link = "/template/2"
            else
              link = "/template/1"
            end
          %>
          <strong><a href=<%=link%>>Next Page</a></strong>
        </section>

        <section class="sidebar_section">
          <div class="author_info">
            <img src=<%=author_image%>/>
            <footer><small><strong><%= author %></strong></small></footer>
            <footer>
              <ul>
                <li><small>Twitter</small></li>
                <li><small>Facebook</small></li>
                <li><small>Instagram</small></li>
              </ul>
            </footer>
          </div>

          <div class="sidebar_content">
            <% num = (1..5).to_a.sample%>
              <img src="../images/ads/ad-image<%=num%>.jpg"/>
              <footer><a href="http://www.amazon.com/dp/B007CKJLDI">Buy on Amazon.com!</a></footer>
              <small><footer><a href="/why">Why this ad?</a></footer></small>
            <p> <%= summary %> </p>
          </div>
        </section>
      </article>

      <footer class="post_footer">
        <h2>MOST POPULAR TIME TRAVELERS</h2>
      </footer>

      <footer class="site_footer">

        <footer class="authors">
          <div class="burgess">
            <h2>BURGESS</h2>
          </div>
          <div class="kesey">
            <h2>KESEY</h2>
          </div>
          <div class="vonnegut">
            <h2>VONNEGUT</h2>
          </div>
          <div class="bradbury">
            <h2>BRADBURY</h2>
          </div>
        </footer>

        <div class="bottom">
          <div class="bottom_contents">
            <img src="../images/site_logo.jpeg"/>
            <p>DEAD POETS SOCIETY Copyright 2015. All Rights Reserved.</p>
            <ul>
              <li> Nav Item 1 <strong>|</strong></li>
              <li> Nav Item 2 <strong>|</strong></li>
              <li> Nav Item 3 <strong>|</strong></li>
              <li> Nav Item 4 </li>
            </ul>
          </div>

        </div>
      </footer>

    </div>
  </body>

</html>
